<footer class="footer">
	<!-- <%= image_tag "zhonghui_logo_large.png", alt: "中汇支付" %> -->

	<nav> 
		<ul>
			<li><%= link_to "关于权益宝", about_path %></li>
			<li><%= link_to "联系我们", '#' %></li>
			<!-- <li><a href="http://www.quanyibao.com/">首页</a></li> -->
			<li><%= link_to "首页", root_path %></li>
		</ul>
	</nav>
	
	<small>
		中汇支付旗下众筹品牌 &nbsp;&nbsp;&nbsp;&nbsp; ©2014 权益宝 All rights reserved
	</small>	
	
</footer>